{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ 'account.register_now'|trans }}
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>{{ 'account.register_now'|trans }}</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'password'|trans
	}) }}
	{{ form_row(registrationForm.agreeTerms, {
            label: 'agree_terms'|trans
	}) }}

	<button type="submit" class="btn bolder underlined">{{ 'send'|trans }}</button>
	{{ form_end(registrationForm) }}
{% endblock %}
