{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="text-center banner d-flex justify-content-center align-items-center" style="background-image: url('{{ asset('/build/images/cinema2.jpg') }}') ;">
		<div class="d-flex-column">
			<h1>{{ 'follow_series'|trans }}</h1>
			<p class="m-0" id="signIn">
				<a href="{{ path('app_register') }}">{{ 'account.register_now'|trans }}</a>
			</p>
		</div>
	</div>

	<div>
		<div class="container d-flex m-auto">
			<div class="row w-100 m-auto d-flex justify-content-center">
				<div>
					<div>
						<h2 class="purple">{{ 'discover_series'|trans }}
						</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="container d-flex flex-column m-0 p-0 m-auto">
			<div class="row w-100 justify-content-center m-auto">
				<div class="d-flex flex-wrap justify-content-center align-self-center mt-3">
					{% if programs is not empty %}
						{% for program in programs %}
							{% include "program/_cardProgram.html.twig" %}
						{% endfor %}
					{% else %}
						<div class="m-auto">{{ 'series_none'|trans }}</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div>

			<div class="container d-flex m-auto">
				<div class="row w-100 m-auto d-flex justify-content-center">
					<div>
						<div>
							<h2 class="purple">{{ 'actors_now'|trans }}
							</h2>
						</div>
					</div>
				</div>
			</div>


			<div class="container d-flex flex-column m-0 p-0 m-auto">
				<div class="row w-100 justify-content-center m-auto">
					<div class="d-flex flex-wrap justify-content-center align-self-center mt-3">
						{% if actors is not empty %}
							{% for actor in actors %}
								{% include "actor/_cardActor.html.twig" %}
							{% endfor %}
						{% else %}
							<div class="m-auto">Aucun acteur trouvé</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
