{% extends 'base.html.twig' %}

{% block title %}
	{{ 'reset_password_sent'|trans }}
{% endblock %}

{% block body %}
	<p>{{ 'reset_password_sent_message'|trans }}
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	</p>
	<p>{{ 'reset_password_spam'|trans }}
		<a class="bolder underlined" href="{{ path('app_forgot_password_request') }}">{{ 'reset_password_try_again'|trans }}</a>.</p>
{% endblock %}
