{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ 'all_categories'|trans }}
{% endblock %}


{% block body %}
	<div class="container d-flex">
		<div class="row col-12 d-flex justify-content-center">
			<div>
				<div>
					<h2 class="purple">{{ 'all_categories'|trans }}
					</h2>
				</div>
				<ul class="d-flex flex-row justify-content-center my-4 flex-wrap">
					{% for category in categories %}
						<li class="mx-4 wrap">
							<a href="{{ path('category_show', {categoryName: category.name }) }}">{{category.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div>
				<img id="categoryPicture" src="{{ asset('build/images/category3.png') }}">
			</div>
		</div>
	</div>
</div>
<div class="mb-2 fixed-bottom">
	<a href="{{ path('app_index') }}" class="m-auto">
		<img src="{{ asset('build/images/previous.png') }}" id="returnLogo">
		{{ 'back'|trans }}
	</a>
</div>{% endblock %}
