{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ 'episode_create'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'episode_edit'|trans }}</h1>

	{{ include('episode/_form.html.twig') }}

	<a href="{{ path('app_episode_index') }}">{{ 'back'|trans }}</a>
{% endblock %}
