{% extends 'base.html.twig' %}

{% block title %}
	{{ 'season_create'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'season_create'|trans }}</h1>

	{{ include('season/_form.html.twig') }}

	<a href="{{ path('app_episode_index') }}">{{ 'back'|trans }}</a>
{% endblock %}
