{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ 'series_edit'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'series_edit'|trans }}
		-
		{{program.title}}</h1>

	{{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

	{{ include('program/_delete_form.html.twig') }}
{% endblock %}
