{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ 'series_create'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'series_create'|trans }}</h1>

	{{ include('program/_form.html.twig') }}

	<a href="{{ path('app_episode_index') }}">{{ 'back'|trans }}</a>
{% endblock %}
