{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ season.program.title }}
	-
	{{ 'season'|trans }}
	{{season.number}}
{% endblock %}

{% block body %}
	<div class="col-9 mt-3 m-auto">
		<div class="media">
			<div class="media-body">
				<h2 class="bolder">{{ season.program.title }}
					-
					{{ 'season'|trans }}
					{{season.number}}
					({{season.year}})</h2>
				<p class="mt-4 mb-1 bolder">Description</p>
				<p>{{ season.description }}</p>
			</div>
		</div>
		<div class="episodes">
			<p class="mb-0 bolder">{{season.episodes|length}}
				{{ 'episode'|trans }}s :</p>
			<ul>
				{% for episode in season.episodes %}
					<li class="my-2">
						<a href="{{ path('program_episode_show', {programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug }) }}">
							{{ 'episode'|trans }}
							{{episode.number}}
							-
							{{episode.title|capitalize}}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="mb-2 fixed-bottom">
		<a href="{{ path('program_show', {slug: program.slug}) }}">
			<img src="{{ asset('build/images/previous.png') }}" id="returnLogo">
			{{ 'back'|trans }}
		</a>
	</div>
{% endblock %}
