{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="d-flex align-items-center mx-3">
		<img class="align-self-start mr-3 rounded col-3 m-5" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body m-5">
			<h1 class="mt-0 bolder">{{ program.title }}
				({{program.year}})</h1>
			<p>
				{{program.category.name}}
				|
				{{program.country}}
				|
				{% if programDuration.0 != 0 %}
					{% if programDuration.0 == 1 %}
						{{programDuration.0}}
						jour
					{% else %}
						{{programDuration.0}}
						jours
					{% endif %}
				{% endif %}
				{% if programDuration.1 != 0 %}
					{% if programDuration.1 == 1 %}
						{{programDuration.1}}
						heure
					{% else %}
						{{programDuration.1}}
						heures
					{% endif %}
				{% endif %}
				{{programDuration.2}}
				minutes

			</p>
			<p class="bolder mb-1">Synopsis</p>
			<p>{{ program.synopsis }}</p>

			<p class="mb-1 bolder">Acteurs :</p>
			<ul class="d-flex flex-row justify-content-center flex-wrap">
				{% for actor in program.actors %}
					<li class="mx-4 wrap">
						<a href="{{ path('app_actor_show', {id: actor.id }) }}">
							{{actor.name}}
						</a>
					</li>
				{% else %}
					<li>
						Aucun acteur pour cette série
					</li>
				{% endfor %}
			</ul>

			<p class="mb-1 bolder">Liste des saisons :</p>
			<ul class="d-flex flex-row justify-content-center flex-wrap">
				{% for season in program.seasons %}
					<li class="mx-4 wrap">
						<a href="{{ path('program_season_show', {programSlug: program.slug, seasonId: season.id }) }}">
							Saison
							{{season.number}}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</p>
</div>
<div class="mb-2 fixed-bottom">
	<a href="{{ path('program_index') }}">
		<img src="{{ asset('build/images/previous.png') }}" id="returnLogo">
		Retour
	</a>
</div>{% endblock %}
