{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{{ program.title }}
{% endblock %}

{% block body %}
	<div class="d-flex align-items-center mx-3">
		<img class="align-self-start mr-3 rounded col-3 m-5" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster">
		<div class="media-body m-5">
			<h1 class="mt-0 bolder">{{ program.title }}
				({{program.year}})</h1>
			<div class="d-flex flex-row justify-content-between">
				<p>
					{{program.category.name|trans}}
					|
					{{program.country}}
					|
					{% if programDuration.0 != 0 %}
						{% if programDuration.0 == 1 %}
							{{programDuration.0}}
							{{ 'day'|trans }}
						{% else %}
							{{programDuration.0}}
							{{ 'day'|trans }}s
						{% endif %}
					{% endif %}
					{% if programDuration.1 != 0 %}
						{% if programDuration.1 == 1 %}
							{{programDuration.1}}
							{{ 'hour'|trans }}
						{% else %}
							{{programDuration.1}}
							{{ 'hour'|trans }}s
						{% endif %}
					{% endif %}
					{{programDuration.2}}
					minutes
				</p>
				<a class="watchlist pe-5" href="{{ path('program_watchlist', {id: program.id})}}">
					<i class=" bigHeart bi {% if app.user and app.user.isInWatchlist(program) == true %} bi-heart-fill {% else %} bi-heart {% endif %}"></i>
				</a>
			</div>
			<p class="bolder mb-1">Synopsis</p>
			<p>{{ program.synopsis }}</p>

			<p class="mb-1 bolder">{{ 'actors'|trans }}
				:</p>
			<ul class="d-flex flex-row justify-content-center flex-wrap">
				{% for actor in program.actors %}
					<li class="mx-4 wrap">
						<a href="{{ path('app_actor_show', {id: actor.id }) }}">
							{{actor.name}}
						</a>
					</li>
				{% else %}
					<li>
						{{ 'actors_none'|trans }}
					</li>
				{% endfor %}
			</ul>

			<p class="mb-1 bolder">{{ 'season'|trans }}s :</p>
			<ul class="d-flex flex-row justify-content-center flex-wrap">
				{% for season in program.seasons %}
					<li class="mx-4 wrap">
						<a href="{{ path('program_season_show', {programSlug: program.slug, seasonId: season.id }) }}">
							{{ 'season'|trans }}
							{{season.number}}
						</a>
					</li>
				{% else %}
					{{ 'seasons_none'|trans }}
				{% endfor %}
			</ul>
			{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") and program.owner.id == app.user.id %}
				<div class="d-flex justify-content-center mt-3">
					<a class="bolder underlined" href="{{ path('program_app_program_edit', { 'slug': program.slug} ) }}">Éditer</a>
				</div>
			{% endif %}
		</div>
	</p>
</div>
<div class="mb-2 fixed-bottom">
	<a href="{{ path('program_index') }}">
		<img src="{{ asset('build/images/previous.png') }}" id="returnLogo">
		{{ 'back'|trans }}
	</a>
</div>{% endblock %}
