<nav class="navbar navbar-expand-lg navbar-light bg-mainColor ">
	<div class="container-fluid">
		<img id="logo" src="{{ asset('build/images/Capture.png') }}" alt="logo Wild Séries">
		<a class="navbar-brand brand p-0 font-weight-bold" href="/">Wild Series</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end align-items-center">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-textColor" href="{{ path('category_index') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégories
					</a>

					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% if categories is defined %}
							{% for category in categories %}
								<li>
									<a class="dropdown-item" href="{{ path('category_show', {categoryName: category.name }) }}">{{category.name}}</a>
								</li>
							{% endfor %}
							<li><hr class="dropdown-divider"></li>
						{% endif %}
						<li>
							<a class="dropdown-item" href="{{ path('category_index') }}">Toutes les catégories</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-textColor" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Acteurs
					</a>

					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% if actors is defined %}
							{% for actor in actors|slice(0,9) %}
								<li>
									<a class="dropdown-item" href="{{ path('app_actor_show', {id: actor.id }) }}">{{actor.name}}</a>
								</li>
								{% else %}
							{% endfor %}
							<li><hr class="dropdown-divider"></li>
						{% endif %}
						<li>
							<a class="dropdown-item" href="{{ path('app_actor_index') }}">Tous les acteurs</a>
						</li>
					</ul>


				</li>
				<li class="nav-item ">
					<a class="nav-link text-textColor" href="#">Mes favoris</a>
				</li>
				<li class="nav-item">
					{% if app.user %}

						<a href="{{ path('app_logout') }}">
							Se déconnecter</a>

					{% else %}
						<a href="{{ path('app_login') }}">
							Se connecter</a>
					{% endif %}
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link text-textColor" href="#">{{ app.user.email }}</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link text-textColor" href="#"><img class="rounded-circle border border-dark avatar"></img>
				</li>
			</a>
		</li>
	</ul>
</li></ul></div></div></nav>
